.bucketlist{
    width: 100%;
}
.bucket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    margin:1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    box-shadow: 5px 5px 10px 5px whitesmoke;
}
.edit{
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 2rem;
}
.clear{
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 2rem;
}

@media only screen and (max-width:800) {
    .bucket{
        font-size: small;
    }
}